<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
{% for image in include.images %}
    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"{% if forloop.index0 == 0%} class="active"{% endif %}></li>
{% endfor %}
  </ol>
  <div class="carousel-inner container-fluid">
{% for image in include.images %}
    <div id="img_{{ image.name-base }}" class="backgroundsize item{% if forloop.index0 == 0%} active{% endif %}">
    </div>
{% endfor %}
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>